// @import font from google
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$font: 'Poppins', sans-serif;

// @all veriable
$white: #ffffff;
$black:#000000;
$selectColor: #39F;
$placeholderColor: #cccccc;

$notify: #00a1ec;
$nBorder: #0077ae;
$error: #f23d50;
$eBorder: #cc3031;
$success: #80b533;
$sBorder: #54822a;
$warning: #fdc21e;
$wBorder: #ef980a;

